[submodule "docker-practical"]
	path = docker-practical
	url = git@github.com:teepobharu/docker-practical.git
[submodule "scala-rockjvm1"]
	path = scala-rockjvm1
	url = git@github.com:teepobharu/scala-rockjvm1.git
[submodule "rjvm1-filesystem"]
	path = rjvm1-filesystem
	url = git@github.com:teepobharu/rjvm1-filesystem.git
[submodule "Data/UdemyPy_DS-ML-BootCamp"]
	path = Data/UdemyPy_DS-ML-BootCamp
	url = git@github.com:teepobharu/UdemyPy_DS-ML-BootCamp.git
[submodule "Line/line__firebase_functions_tips_ts"]
	path = Line/line__firebase_functions_tips_ts
	url = git@github.com:teepobharu/line__firebase_functions_tips_ts.git
[submodule "Project/Tools/retroactive"]
	path = Project/Tools/retroactive
	url = git@github.com:teepobharu/retroactive.git
[submodule "Chatbot/Diagflow/myFriendlyQuote"]
	path = Chatbot/Diagflow/myFriendlyQuote
	url = git@github.com:teepobharu/myFriendlyQuote.git
[submodule "Website/webpack-react"]
	path = Website/webpack-react
	url = git@github.com:teepobharu/webpack-react.git
